@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
body{
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}
.card{
  margin: 10px 0 10px 0;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.082);
}
.search{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.searchBtn{
  cursor: pointer;
}
.pop{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
}
.card-header:first-child{
  border-radius: 20px 20px 0 0;
}
p{
  margin: 0;
}
.add{
  width: 100%;
}
.count{
  cursor: pointer;
}
.cardHeader{
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
}
.card-header:first-child{
  box-shadow: none;
}
.imgWrapper{

  padding: 30px;
}
img{
  width: 150px;
}
.btn{
  border-radius: 50px;
}
.table{
  vertical-align: middle;
}
.logo{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
nav{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}
.title{
  font-size: 30px;
  font-family: 'Fredoka', sans-serif;
  color: rgb(56, 56, 58);
}
